<h1 class="b-header ekit-space_bottom-5">Регистрация</h1>

<app-loader [showLoader]="showLoader$ | async">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="ekit-space_bottom-5">
            <input matInput placeholder="Логин" formControlName="username" />
            <mat-error>{{ form.get('username')?.errors | ekitControlError }}</mat-error>
        </mat-form-field>

        <mat-form-field class="ekit-space_bottom-5">
            <input matInput placeholder="Почта" formControlName="email" />
            <mat-error>{{ form.get('email')?.errors | ekitControlError }}</mat-error>
        </mat-form-field>

        <mat-form-field class="ekit-space_bottom-5">
            <input
                matInput
                placeholder="Пароль"
                type="password"
                formControlName="password"
            />
            <mat-error>{{ form.get('password')?.errors | ekitControlError }}</mat-error>
        </mat-form-field>

        <mat-form-field class="ekit-space_bottom-5">
            <input
                matInput
                placeholder="Подтвердите пароль"
                type="password"
                formControlName="passwordConfirm"
            />
            <mat-error>{{
                form.get('passwordConfirm')?.errors | ekitControlError
            }}</mat-error>
        </mat-form-field>

        <div>
            <button mat-raised-button type="submit">Зарегестрироваться</button>
        </div>
    </form>
</app-loader>
