<app-loader [showLoader]="showLoader$ | async">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" style="flex: 1">
        <h2 class="ekit-space_bottom-4">Обработка результатов испытания</h2>

        <mat-form-field class="ekit-space_bottom-5">
            <input
                matInput
                placeholder="Название"
                type="text"
                formControlName="name"
                [required]="true"
            />
        </mat-form-field>

        <ekit-input-file formControlName="file" [allowFileTypes]="excelMimeTypes"
            >Выберите файл с результатами *
        </ekit-input-file>

        <!--    <mat-form-field class="ekit-space_bottom-5">-->
        <!--        <input-->
        <!--            matInput-->
        <!--            placeholder="Пороговое ЛПЭ, МэВ*см2/мг"-->
        <!--            type="number"-->
        <!--            formControlName="limitLet"-->
        <!--        />-->
        <!--    </mat-form-field>-->

        <!--    <mat-form-field class="ekit-space_bottom-5">-->
        <!--        <input-->
        <!--            matInput-->
        <!--            placeholder="Сечение насыщения, см2"-->
        <!--            type="number"-->
        <!--            formControlName="limitCrossSection"-->
        <!--        />-->
        <!--    </mat-form-field>-->

        <div class="ekit-space_top-5">
            <button mat-raised-button type="submit">Начать расчет</button>
        </div>
    </form>
</app-loader>
