<h1 class="b-header ekit-space_bottom-5">Вход</h1>

<app-loader [showLoader]="showLoader$ | async">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="ekit-space_bottom-5">
            <input matInput placeholder="Логин" formControlName="username" />
            <mat-error>{{ form.get('username')?.errors | ekitControlError }}</mat-error>
        </mat-form-field>

        <mat-form-field class="ekit-space_bottom-5">
            <input
                matInput
                placeholder="Пароль"
                formControlName="password"
                type="password"
            />
            <mat-error>{{ form.get('password')?.errors | ekitControlError }}</mat-error>
        </mat-form-field>

        <div>
            <button mat-raised-button type="submit">Войти</button>
        </div>
    </form>
</app-loader>
