:host {
    display: block;
    width: 100%;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.nav {
    display: flex;
    padding: 8px 16px;
    max-width: 824px;
    margin: 0 auto;
}

.links {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}
