<nav class="nav">
    <div class="links">
        <a mat-button routerLink="/">Главная</a>
        <span *ngIf="!(isAuthorized$ | async); else authorized">
            <a *ngFor="let link of links" mat-button [routerLink]="['/' + link.url]">{{
                link
            }}</a>
        </span>
    </div>
</nav>

<ng-template #authorized>
    <span>
        <a mat-button [routerLink]="['/results']">Результаты расчетов</a>
        <a mat-button [routerLink]="['/form']">Обработка результатов</a>
        <a mat-button (click)="logout()">Выйти</a>
    </span>
</ng-template>
