<table mat-table multiTemplateDataRows class="mat-elevation-z8" [dataSource]="data">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="element-row"
    ></tr>

    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.index }}</td>
    </ng-container>

    <ng-container matColumnDef="let">
        <th mat-header-cell *matHeaderCellDef>ЛПЭ, <span>МэВ*см<sup>2</sup>/мг</span></th>
        <td mat-cell *matCellDef="let element">{{ element['let'] }}</td>
    </ng-container>

    <ng-container matColumnDef="fluence">
        <th mat-header-cell *matHeaderCellDef>
            Флюенс, <span>1/см<sup>2</sup></span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.fluence }}</td>
    </ng-container>

    <ng-container matColumnDef="see_count">
        <th mat-header-cell *matHeaderCellDef>Количество ОРЭ</th>
        <td mat-cell *matCellDef="let element">
            {{ element.see_count }}
        </td>
    </ng-container>
</table>
