<div class="wrapper">
    <div class="container">
        <h3>Параметры расчета</h3>
        <br />
        <div class="params">
            <span>Пороговое ЛПЭ:</span>&nbsp;
            <mat-chip-list>
                <mat-chip
                    >{{ details.limitLet }}&nbsp;<span
                        >МэВ*см<sup>2</sup>/мг</span
                    ></mat-chip
                >
            </mat-chip-list>
        </div>
        <div class="params">
            <span>Сечение насыщения:</span>&nbsp;
            <mat-chip-list>
                <mat-chip>
                    {{ details.limitCrossSection }}&nbsp;<span>см<sup>2</sup>/бит</span>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="params">
            <span>Параметры Вейбулла:</span>
            <mat-chip-list>
                <mat-chip> w = {{ details.w }}, s = {{ details.s }} </mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <div class="container">
        <button mat-raised-button (click)="openTablePopup()">
            Просмотр экспериментальных данных
        </button>
    </div>
</div>

<div class="chart-container">
    <div class="y-label">
        <p>Сечение ОРЭ, см<sup>2</sup>/бит</p>
    </div>
    <div class="x-label">
        <p>ЛПЭ, МэВ*см<sup>2</sup>/мг</p>
    </div>
    <canvas #chart width="700px" height="350px"></canvas>
</div>
