:host {
    display: block;
    padding: 12px;
}

.y-label {
    position: absolute;
    left: -55px;
    top: 50%;
    transform: rotate(270deg) translateY(-50%);
}

.x-label {
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
}

.chart-container {
    position: relative;
    height: 365px;
    padding: 12px;
}

.params {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.wrapper {
    display: flex;
    padding: 12px;

    border: 1px solid #efefef;
}

.container {
    flex: 1;

    & + & {
        padding-left: 12px;
        border-left: 1px solid #efefef;
    }
}
