@import '~ngx-ekit/styles/property';

:host {
    display: block;
}

table {
    width: 100%;
}

.detail-row {
    height: 0;
}

.element-row {
    cursor: pointer;

    &:hover {
        background: #efefef;
    }

    & td {
        border-bottom-width: 0;
    }
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.loader {
    padding: @space * 2 0;
}

.search {
    display: block;
    margin-left: auto;
    width: 350px;
}
