<mat-form-field class="search">
    <input matInput placeholder="Поиск" type="text" [formControl]="searchControl" />
</mat-form-field>

<table
    mat-table
    multiTemplateDataRows
    class="mat-elevation-z8"
    [dataSource]="experiments$ | async"
>
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div
                *ngIf="element == expandedElement"
                class="element-detail"
                [@detailExpand]
            >
                <app-results-preview
                    *ngIf="resultsDict[element.id] as result; else loader"
                    [detail]="result"
                ></app-results-preview>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="element-row"
        (click)="changeExpandedElement(element)"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.index }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>Название файла</th>
        <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Дата создания</th>
        <td mat-cell *matCellDef="let element">
            {{ element.createdAt | date: 'medium':'Moscow':'ru' }}
        </td>
    </ng-container>
</table>

<ng-template #loader>
    <app-loader class="loader" [showLoader]="true"></app-loader>
</ng-template>
