@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import (css) url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');
@import '~ngx-ekit/styles/index';

body {
    background-color: #fafafa;
    font-family: Ubuntu, Roboto, Serif, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.b-header {
}
