@import '~ngx-ekit/styles/mixins';
@import '~ngx-ekit/styles/property';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 40px;
    min-height: 40px;
    width: 100%;
}

.loader {
    position: absolute;
    z-index: 10;
}

.content {
    display: flex;
    align-self: flex-start;
    flex: 1;

    :host._event-blocker & {
        .transition(opacity);
        pointer-events: none;
        user-select: none;
        opacity: @opacity;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}
