<mat-progress-spinner
    *ngIf="showLoader"
    mode="indeterminate"
    class="loader"
    [diameter]="diameter"
></mat-progress-spinner>
<div class="content">
    <ng-content></ng-content>
</div>

<div *ngIf="showLoader && hasClose" class="close" (click)="closeLoader.emit($event)">
    <mat-icon>close</mat-icon>
</div>
